body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-righteous: Righteous;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-mid: 17px;
  --font-size-base: 16px;

  /* Colors */
  --color-cornflowerblue-100: #7080cc;
  --color-cornflowerblue-200: rgba(112, 128, 204, 0.62);
  --color-darkmagenta-100: #9431ab;
  --color-darkmagenta-200: rgba(148, 49, 171, 0.91);
  --color-darkmagenta-300: rgba(148, 49, 171, 0.55);
  --color-darkmagenta-400: rgba(148, 49, 171, 0.5);
  --color-darkmagenta-500: rgba(148, 49, 171, 0.98);
  --color-gray-100: #000101;
  --color-gray-200: rgba(0, 0, 0, 0.7);
  --color-black: #000;
  --color-mediumorchid-100: rgba(186, 87, 209, 0.91);
  --color-lightyellow: #ffffdd;

  /* Gaps */
  --gap-xl: 20px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-13xl: 32px;
  --padding-7xs: 6px;
  --padding-smi: 13px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-9xs: 4px;
}